<div class="container-fluid ">
    <div class="row">
        <aside class="mx-0 col-3 my-5  position-relative">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light " style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap" />
                    </svg>
                    <span class="fs-4">Personal Info</span>
                </a>
                <hr>


                <div class="d-flex my-3">

                    <input class=" form-control me-2" placeholder="Enter Your Name" [(ngModel)]="cstName">
                    <button class="btn btn-outline-info" type="submit" (click)="displayName()">Submit</button>

                </div>
                <div *ngIf="greating!=''">
                    <div class="alert py-2 alert-info  my-2" role="alert">
                        {{greating}}
                    </div>

                </div>
                <div class="d-flex my-3">

                    <input type="text" min="16" max="16" class=" form-control me-2" placeholder="Enter Your Card Number"
                        [(ngModel)]="cstCardNumber">
                    <button class="btn btn-outline-info" type="submit" (click)="showCredit()">Submit</button>

                </div>
                <div [hidden]='show'>
                    <div class="alert py-2 alert-info  my-2" role="alert">
                        {{cstCardNumber | creditInfo}}
                    </div>

                </div>
                <div class="d-flex my-3">

                    <input type="text" class=" form-control me-2" placeholder="Enter Personal Id"
                        [(ngModel)]="personalInformation">
                    <button class="btn btn-outline-info" type="submit" (click)="showPinfo()">Submit</button>

                </div>
                <div [hidden]='Pinfo'>
                    <div class="alert py-2 alert-info  my-2" role="alert">

                        {{ personalInformation | personalInfo: 'FullDate' }}
                    </div>

                </div>


                <hr>
                <div class="dropdown">

                    <img src="assets/Eslam.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>Created By Eslam Shaheer</strong>


                </div>
            </div>

        </aside>
        <section class="col-8">
            <router-outlet></router-outlet>

        </section>
    </div>
</div>